body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.2)), url('./images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    background: #00000090;
    color: #b0b0b0;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 6rem 2rem 2rem 2rem;
    margin-top: 5rem;
}

.home-content {
    display: flex;
    align-items: center;
    margin-top: 5px; /* Adjusted to fit below the header */
}

.column {
    flex:1;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.text-container {
    text-align: left;
    color: white;
    animation: slideInFromBottom 1s ease-out /*Define animation */
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(1000%);
    }
    100% {
        transform: translateY(0);
    }
}




.profile-image {
    border-radius: 50%;
    width: 500px;  /* Adjust size as needed */
    height: 500px; /* Adjust size as needed */
    margin-right: 1rem;
}


#home {
    background: #35353555;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#projects .project {
    background: #e4e4e4;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}
